
  .btn {
    flex: 1 1 auto;
    text-align: center;
    color:white;
    text-transform: uppercase;
    transition: 0.5s;
    background: linear-gradient(90deg, var(--c1, #00e6ce), var(--c2, #c026d3) 51%, var(--c1, #00e6ce)) var(--x, 0)/ 200%;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
   }
  
  .btn:hover { --x: 100%; }
  
  .btn-1 {
    --c1: #00e6ce;
    --c2: #c026d3;
  }

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: white;
    border-radius: 0.5rem;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: #aaa;
    float: right;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
input{
  line-height: 200%;
}