.default-style {
  background-image: url('/src/locales/eng/flag.png');
  border: none;
  border-radius: 10px 10px 10px 10px;
}

.eng {
  background-image: url('/src/locales/eng/flag.png');
  border: none;
  border-radius: 10px 10px 10px 10px;
}

.cat {
  background-image: url('/src/locales/cat/flag.png');
  border: none;
  border-radius: 10px 10px 10px 10px;
}

.esp {
  background-image: url('/src/locales/esp/flag.png');
  border: none;
  border-radius: 10px 10px 10px 10px;
}